$white: #ffffff;
$color-header-light: #8800c8;
$black: #000000;
$light-gray: #cdcdcd;
$font-size-heading-desktop: 50px;
$font-size-heading-mobile: 40px;

// for dark mode
$header-color-dark: #2fc1ff;
